*{
  font-family: 'Ubuntu';
  margin: 0;
  padding: 0;
}

:root{
  --gradient-color-red: linear-gradient(90deg, hsl(7, 89%, 46%) 15%, hsl(11, 93%, 68%) 100%);
  --gradient-color-orange : linear-gradient(90deg, hsl(22,89%,46%) 15%,hsl(54,90%,68%)100%);
  --gradient-color-yellow : linear-gradient(90deg,hsl(54,89%,46%) 15%,hsl(92,90%,45%)100%);
  --gradient-color-green : linear-gradient(90deg,hsl(92,89%,46%) 15%,hsl(92,90%,68%)100%);
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: rgb(247, 246, 252);
  color: rgb(70, 71, 81);
  font-family: 'Open Sans', sans-serif;
}

.material-icons-outlined {
  vertical-align: middle;
  line-height: 1px;
  font-size: 30px;
}

.text-secondary {
  color: rgb(70, 71, 81);
}

.text-blue {
  color: rgb(29, 38, 154);
}

.background-blue {
  background-color: rgb(29, 38, 154);
}

.text-red {
  color: rgb(213, 0, 0);
}

.background-red {
  background-color: rgb(213, 0, 0);
}

.text-green {
  color: rgb(46, 125, 50);
}

.background-green {
  background-color: rgb(46, 125, 50);
}

.text-orange {
  color: rgb(255, 111, 0);
}

.background-orange {
  background-color: rgb(255, 111, 0);
}

.grid-container {
  display: grid;
  grid-template-columns: 260px 1fr 1fr 1fr;
  grid-template-rows: 0.2fr 3fr;
  grid-template-areas:
    'sidebar header header header'
    'sidebar main main main';
  height: 100vh;
}

/* ---------- HEADER ---------- */

.header {
  grid-area: header;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 30px 0 30px;
  box-shadow: 0 6px 7px -4px rgba(0, 0, 0, 0.2);
}

.menu-icon {
  display: none;
}

/* ---------- SIDEBAR ---------- */

#sidebar {
  grid-area: sidebar;
  height: 100%;
  background-color: rgb(29, 38, 154);
  color: rgb(255, 255, 255);
  overflow-y: auto;
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
}

.sidebar-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 20px 20px 20px;
  margin-bottom: 30px;
}

.sidebar-title > span {
  display: none;
}

.sidebar-brand {
  margin-top: 15px;
  font-size: 30px;
  font-weight: 700;
}

.sidebar-brand > .material-icons-outlined {
  font-size: 50px;
}

.sidebar-list {
  padding: 0;
  margin-top: 15px;
  list-style-type: none;
}

.sidebar-list-item {
  padding: 20px 20px 20px 20px;
  font-size: 18px;
}

.sidebar-list-item:hover {
  background-color: rgba(255, 255, 255, 0.2);
  cursor: pointer;
}

.sidebar-list-item > a {
  text-decoration: none;
  color: rgb(180, 184, 244);
}

.sidebar-responsive {
  display: inline !important;
  position: absolute;
}

/* ---------- MAIN ---------- */

.main-container {
  grid-area: main;
  overflow-y: auto;
  padding: 20px 20px;
}

.main-title {
  display: flex;
  justify-content: space-between;
}

.main-cards {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  margin: 20px 0;
}

.cards {
  /* display: block; */
  text-decoration: none;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 25px;
  color: rgb(255, 255, 255);
  border-radius: 30px;
  box-shadow: 0 6px 7px -4px rgba(0, 0, 0, 0.2);
}

.cards:first-child {
  background-color: rgb(255, 111, 0);
}

.cards:nth-child(2) {
  background-color: rgb(46, 125, 50);
}

.cards-inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.cards-inner > span {
  font-size: 50px;  
}

.card {
  border-radius: 50px;
}

.modal-content {
  border-radius: 50px;
}

.boxs-cards {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  margin: 20px 0;
}

.box-card {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 500px;
  padding: 25px;
  color: rgb(255, 255, 255);
  border-radius: 30px;
  box-shadow: 0 6px 7px -4px rgba(0, 0, 0, 0.2);
  background-color: #333;
}

.card-header {
  border-radius: 50px !important
}

.card-title {
  text-align: center;
  margin-top: 20px;
}

.card-title>h3 {
  font-weight: 600  ;
}

.card-body {
  padding: 0;
}

.btn-container {
  padding: 25px 35px;
}

.loc-button {
  outline: none;
  width: 100%;
  border: none;
  font-weight: 700;
  border-radius: 25px;
  padding: 10px;
  background: #303f9f;
  color: #fff;
  cursor: pointer;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.35);
  transition: all 0.3s ease;
}

.row {
  align-items: center;
}

.img-responsive {
  display: block;
  text-decoration: none;
  max-width: 100%;
  max-height: 100%;
  height: auto;
  display: block;
  text-align: center;
  align-items: center;
  border-radius: 10px;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 1);
  transition: transform linear 0.1s;
  will-change: transform;
}

.img-responsive:hover {
  transform: translateY(-4px);
  box-shadow: 0 1px 20px 0 rgba(0, 0, 0, 0.05);
}

.products {
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;
}

.product-card {
  height: 100%;
  background-color: rgb(255, 255, 255);
  padding: 25px;
  border-radius: 30px;
  box-shadow: 0 6px 7px -4px rgba(0, 0, 0, 0.2);
}


.product-button {
  background-color: rgb(29, 38, 154);
  color: rgb(255, 255, 255);
  padding: 20px;
  border-radius: 30px;
}

.product-button > .material-icons-outlined {
  font-size: 50px;
}


/* garbage */
.garbage{
  height: 50%;
  display: grid;
  place-items: center;
  margin: 0 1.5rem;
}

.Bcard{
  position: relative;
  width: 250px;
  height: 210px;
  background: #ccc;
  padding: 0.5rem 1.5rem;
  border-radius: 1.5rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
}

.Btext{
  margin-bottom: 1rem;
}

.Bpercentage{
  font-size: 2rem;
}

/* .Bstatus{
  position: absolute;
  bottom: 3.5rem;
  display: flex;
  align-items: center;
  column-gap: 0.3rem;
  font-size: 0.8rem;
}

.Bstatus i{
  font-size: 1.25rem;
} */

.Bpill{
  position: relative;
  width: 80px;
  height: 120px;
  background-color: #222;
  box-shadow: inset 20px 0 48px hsl(0, 0%, 16%), inset -4px 12px 48px hsl(0, 0%, 56%);
  border-radius: 1rem 1rem 3rem 3rem;
  justify-self: flex-start;
}

.Blevel{
  position: absolute;
  inset: 2px;
  border-radius: 3rem;
  overflow: hidden;
}

.Bliquid{
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 36px;
  background: var(--gradient-color-green);
  box-shadow: inset -10px 0 12px hsla(0, 0%, 0%, 0.1), inset 12px 0 12px hsla(0, 0%, 0%, 0.15);
  transition: 0.3s;
}

.Bliquid::after{
  content: "";
  position: absolute;
  height: 8px;
  box-shadow: inset 0 -3px 6px hsla(0, 0%, 0%, 0.2);
  left: 0;
  right: 0;
  margin: 0 auto;
  top: -4px;
  border-radius: 50%;
}

.green-color{
  background: var(--gradient-color-green);
}

.animated-green{
  background: var(--gradient-color-green);
  animation: animated-charging 1.2s infinite alternate;
}

.animated-red{
  background: var(--gradient-color-red);
  animation: animated-low 1.2s infinite alternate;
}

.animated-green, .animated-red, .green-color{
  -webkit-background-clip: text;
  color: transparent;
}

@keyframes animated-charging{
  0%{
      text-shadow: none;
  }
  100%{
      text-shadow: 0 0 6px hsl(92, 90%, 68%);
  }
}

@keyframes animated-low{
  0%{
      text-shadow: none;
  }
  100%{
      text-shadow: 0 0 8px hsl(7, 89%, 46%);
  }
}

.gradient-color-red, .green-color-red::after{
  background: var(--gradient-color-red);
}

.gradient-color-green, .green-color-green::after{
  background: var(--gradient-color-green);
}

.gradient-color-orange, .green-color-orange::after{
  background: var(--gradient-color-orange);
}

.gradient-color-yellow, .green-color-yellow::after{
  background: var(--gradient-color-yellow);
}

 
/* style login */
.login {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: #f5f5f5;
}
.login__container {
  width: 100%;
  max-width: 400px;
  padding: 20px;
  background: #fff;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.login__container h1 {
  margin-bottom: 20px;
  font-size: 2rem;
  text-align: center;
}
.login__container form {
  display: flex;
  flex-direction: column;
}
.login__container form label {
  margin-bottom: 10px;
  font-size: 1.2rem;
}
.login__container form input {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-bottom: 20px;
}
.login__container form button {
  padding: 10px;
  border: none;
  border-radius: 5px;
  background: #333;
  color: #fff;
  font-size: 1.2rem;
  cursor: pointer;
}
.login__container form button:hover {
  background: #555;
}
.login__container form a {
  text-align: center;
  font-size: 1.2rem;
  text-decoration: none;
  color: #333;
}
.login__container form a:hover {
  color: #555;
}
.login__registerButton {
  margin-top: 20px;
  padding: 10px;
  border: none;
  border-radius: 5px;
  color: black;
  font-size: 1.2rem;
  cursor: pointer;
  display: block;
}

/* style signup */
.signup {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: #f5f5f5;
}
.signup__container {
  width: 100%;
  max-width: 400px;
  padding: 20px;
  background: #fff;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.signup__container h1 {
  margin-bottom: 20px;
  font-size: 2rem;
  text-align: center;
}
.signup__container form {
  display: flex;
  flex-direction: column;
}
.signup__container form label {
  margin-bottom: 10px;
  font-size: 1.2rem;
}
.signup__container form input {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-bottom: 20px;
}
.signup__container form button {
  padding: 10px;
  border: none;
  border-radius: 5px;
  background: #333;
  color: #fff;
  font-size: 1.2rem;
  cursor: pointer;
}
.signup__container form button:hover {
  background: #555;
}
.signup__container form a {
  text-align: center;
  font-size: 1.2rem;
  text-decoration: none;
  color: #333;
}
.signup__container form a:hover {
  color: #555;
}
.signup__registerButton {
  margin-top: 20px;
  padding: 10px;
  border: none;
  border-radius: 5px;
  color: black;
  font-size: 1.2rem;
  cursor: pointer;
  display: block;
}


/* ---------- Cáº¯t web ---------- */

/* Medium <= 992px */
@media screen and (max-width: 992px) {
  .grid-container {
    grid-template-columns: 1fr;
    grid-template-rows: 0.2fr 3fr;
    grid-template-areas:
      'header'
      'main';
  }

  #sidebar {
    display: none;
    z-index: 1;
  }

  .menu-icon {
    display: inline;
  }

  .sidebar-title > span {
    display: inline;
  }
}

/* Small <= 820px */
@media screen and (max-width: 820px) {
  .main-cards {
    grid-template-columns: 1fr;
    gap: 10px;
    margin-bottom: 0;
  }

  .boxs-cards {
    grid-template-columns: 1fr;
    gap: 10px;
    margin-bottom: 0;
  }

  .products {
    margin-top: 30px;
  }

  .Bcard {
    width: 180px;
    height: 200px;
  }

  .Bpill{
    width: 60px;
    height: 110px;
  }

  .garbage {
    margin: 0px;
  }
  
}

/* Extra Small <= 576px */
@media screen and (max-width: 576px) {
  .header-left {
    display: none;
  }

  .product-button {
    margin-top: 10px;
    font-size: 1px;
  }

  .row-cols-2>* {
    width: 100%;
  }

  .Bpill{
    width: 50px;
    height: 100px;
  }
}




